<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="edge" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ios" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="android" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="user" value="BROWSERSTACK_USERNAME" />
    <add key="key" value="BROWSERSTACK_ACCESS_KEY" />
    <add key="key" value="BROWSERSTACK_ACCESS_KEY" />
    <add key="server" value="hub-cloud.browserstack.com" />
  </appSettings>

  <capabilities>
    <single>
      <add key="project" value="browserstack" />
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="single_test" />
      <add key="browserstack.selenium_version" value="3.141.0" />
      <add key="browserstack.debug" value="true" />
    </single>
    <local>
      <add key="project" value="browserstack" />
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="local_test" />
      <add key="browserstack.selenium_version" value="3.141.0" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
    </local>
    <parallel>
      <add key="project" value="browserstack" />
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="parallel_test" />
      <add key="browserstack.selenium_version" value="3.141.0" />
      <add key="browserstack.debug" value="true" />
    </parallel>
  </capabilities>

  <environments>
    <chrome>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="Chrome" />
      <add key="browser_version" value="latest" />
    </chrome>
    <firefox>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="Firefox" />
      <add key="browser_version" value="latest" />
    </firefox>
    <safari>
      <add key="os" value="OS X" />
      <add key="os_version" value="Big Sur" />
      <add key="browser" value="Safari" />
      <add key="browser_version" value="14.1" />
    </safari>
    <ie>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="IE" />
      <add key="browser_version" value="11" />
    </ie>
    <edge>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="Edge" />
      <add key="browser_version" value="latest" />
    </edge>
    <ios>
      <add key="os_version" value="14" />
      <add key="device" value="iPhone 12" />
      <add key="real_mobile" value="true" />
    </ios>
    <android>
      <add key="os_version" value="10" />
      <add key="device" value="Samsung Galaxy S20" />
      <add key="real_mobile" value="true" />
    </android>
  </environments>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
